// color cube

$saltpan : #edf4ec;
$woodsmoke : #121117;
$capecod : #4f5050;
$bluelagoon: #048383;
$manatee: #919194;
$brown: #904d01;
$riptide: #88e2e3;
$casablanca : #f4ac4f;


//  median cut

$graynurse :#e5ebe5;
$outerspace:#252c2f;
$dovegray:#737373;
$gumbo:#83a7a8;
$regentgray:#7f939c;

// material design

$whiskey: #d29261;
$riverbed : #4d5a65;
$elfgreen:#088181;
$darkmuted:#131314;
$morninggiory:#8cdadc;


$padding-section:100px;