@import "src/styles/variables.scss";

.navbar {
    padding: 15px 0;
  .box-nex {
    position: relative;
  }
  .nav-link {
    color: white;
  }
  .getintouch-button {
    background-color: $bluelagoon;
    border: 1px solid $bluelagoon;
    color: white;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 2px;
  }
  .navbar-brand {
    position: relative;
    letter-spacing: 6px;
    color: white;
    margin-left:10px;
    .nex {
      color: $riptide;
    }
  }
  .nex::after {
    content: "";
    display: inline;
    position: absolute;
    border-radius: 28px;
    left: -13%;
    top: -20%;
    height: 140%;
    width: 120%;
    background: linear-gradient(to right, #88e1e358 50%, transparent 50%);
  }
}
